greenfield/n8n-workflows/03-reddit-search.json
{
  "name": "Greenfield · Reddit (per-subreddit) → ingest-signal",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "hours", "hoursInterval": 12 }
          ]
        }
      },
      "id": "schedule-1",
      "name": "Twice daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subs",
              "name": "subreddits",
              "value": "=startups,SaaS,Entrepreneur,Bookkeeping,manufacturing,sysadmin,devops,cscareerquestions",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-1",
      "name": "Set subreddits",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "const list = $input.first().json.subreddits.split(',').map(s => s.trim()).filter(Boolean);\nreturn list.map(sub => ({ json: { subreddit: sub } }));"
      },
      "id": "expand-1",
      "name": "Fan out subreddits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "url": "=https://www.reddit.com/r/{{ $json.subreddit }}/top.json",
        "options": {
          "queryParameters": {
            "parameters": [
              { "name": "t",     "value": "week" },
              { "name": "limit", "value": "25" }
            ]
          },
          "headers": {
            "parameters": [
              { "name": "User-Agent", "value": "GreenfieldBot/1.0 (+hello@greenfield.app)" }
            ]
          }
        }
      },
      "id": "http-1",
      "name": "Reddit top (week)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.children",
        "options": {}
      },
      "id": "split-1",
      "name": "Split posts",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "min-up",
              "leftValue": "={{ $json.data.ups ?? 0 }}",
              "rightValue": "100",
              "operator": { "type": "number", "operation": "gte" }
            },
            {
              "id": "not-meta",
              "leftValue": "={{ $json.data.subreddit }}",
              "rightValue": "AutoModerator",
              "operator": { "type": "string", "operation": "notEquals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-1",
      "name": "Min 100 upvotes",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1260, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GREENFIELD_INGEST_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GREENFIELD_INGEST_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_type\": \"reddit\",\n  \"url\": \"https://www.reddit.com{{ $json.data.permalink }}\",\n  \"title\": \"r/{{ $json.data.subreddit }} — {{ $json.data.title }}\",\n  \"published_at\": \"{{ new Date($json.data.created_utc * 1000).toISOString() }}\",\n  \"snippet\": \"{{ $json.data.ups }} upvotes · {{ $json.data.num_comments }} comments\",\n  \"metadata\": { \"subreddit\": \"{{ $json.data.subreddit }}\", \"ups\": {{ $json.data.ups }} }\n}",
        "options": {
          "response": { "response": { "neverError": true, "responseFormat": "json" } }
        }
      },
      "id": "ingest-1",
      "name": "POST to ingest-signal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1480, 300]
    }
  ],
  "connections": {
    "Twice daily":           { "main": [[ { "node": "Set subreddits",   "type": "main", "index": 0 } ]] },
    "Set subreddits":        { "main": [[ { "node": "Fan out subreddits","type": "main", "index": 0 } ]] },
    "Fan out subreddits":    { "main": [[ { "node": "Reddit top (week)","type": "main", "index": 0 } ]] },
    "Reddit top (week)":     { "main": [[ { "node": "Split posts",     "type": "main", "index": 0 } ]] },
    "Split posts":           { "main": [[ { "node": "Min 100 upvotes", "type": "main", "index": 0 } ]] },
    "Min 100 upvotes":       { "main": [[ { "node": "POST to ingest-signal","type": "main", "index": 0 } ]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["greenfield"]
}
