greenfield/n8n-workflows/04-x-search.json
{
  "name": "Greenfield · X / Twitter search → ingest-signal",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "hours", "hoursInterval": 8 }
          ]
        }
      },
      "id": "schedule-1",
      "name": "Every 8 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "search",
        "searchText": "=(ai agent OR llm infrastructure OR rfs) min_faves:200 -is:retweet",
        "limit": 30,
        "additionalFields": {
          "tweetFields": ["author_id", "created_at", "public_metrics", "lang"]
        }
      },
      "id": "x-1",
      "name": "X · search recent",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [460, 300],
      "notes": "Requires the n8n Twitter credential (X API v2 Basic plan or higher)."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "lang-en",
              "leftValue": "={{ $json.lang }}",
              "rightValue": "en",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-1",
      "name": "English only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GREENFIELD_INGEST_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GREENFIELD_INGEST_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_type\": \"x\",\n  \"url\": \"https://x.com/i/web/status/{{ $json.id }}\",\n  \"title\": \"X post by @{{ $json.author_id }}\",\n  \"published_at\": \"{{ $json.created_at }}\",\n  \"snippet\": \"{{ ($json.public_metrics?.like_count ?? 0) }} likes · {{ ($json.public_metrics?.retweet_count ?? 0) }} reposts\",\n  \"metadata\": { \"author_id\": \"{{ $json.author_id }}\", \"metrics\": {{ JSON.stringify($json.public_metrics ?? {}) }} }\n}",
        "options": {
          "response": { "response": { "neverError": true, "responseFormat": "json" } }
        }
      },
      "id": "ingest-1",
      "name": "POST to ingest-signal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Every 8 hours":         { "main": [[ { "node": "X · search recent","type": "main", "index": 0 } ]] },
    "X · search recent":     { "main": [[ { "node": "English only",    "type": "main", "index": 0 } ]] },
    "English only":          { "main": [[ { "node": "POST to ingest-signal","type": "main", "index": 0 } ]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["greenfield"],
  "meta": {
    "templateNotes": "Requires X API v2 access (Basic tier minimum). If you don't have API access, swap this node for an RSS-bridge feed of a specific list/account."
  }
}
