greenfield/n8n-workflows/05-weekly-claude-research.json
{
  "name": "Greenfield · Weekly Claude research digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [1],
              "triggerAtHour": 13
            }
          ]
        }
      },
      "id": "schedule-1",
      "name": "Monday 1pm UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/opportunities",
        "options": {
          "queryParameters": {
            "parameters": [
              { "name": "select", "value": "slug,title,industry" },
              { "name": "order",  "value": "rank.asc" },
              { "name": "limit",  "value": "5" }
            ]
          },
          "headers": {
            "parameters": [
              { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
              { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
            ]
          }
        }
      },
      "id": "fetch-opps",
      "name": "Fetch top opportunities",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "split-1",
      "name": "Per opportunity",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key",         "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type",      "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 1500,\n  \"system\": \"You are a research agent for Greenfield, a catalogue of unbuilt startup opportunities. Given a topic, return a JSON array of 3-5 recent (last 60 days) credible source citations: {source_type, url, title, published_at (ISO), snippet}. Use real sources you can verify. source_type must be one of: techcrunch, reddit, x, hackernews, crunchbase, arxiv, github, blog, podcast, other. Snippet is a factual description, NOT a quote.\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": \"Find recent signals on: {{ $json.title }} (industry: {{ $json.industry }}). Slug: {{ $json.slug }}.\" }\n  ]\n}"
      },
      "id": "claude-1",
      "name": "Ask Claude for signals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Claude returns JSON inside content[0].text. Parse, attach slug, fan out.\nconst slug = $('Per opportunity').first().json.slug;\nlet payload;\ntry {\n  const text = $input.first().json.content?.[0]?.text ?? '';\n  // Tolerate fenced blocks\n  const stripped = text.replace(/^```(?:json)?\\n?/, '').replace(/```$/, '').trim();\n  payload = JSON.parse(stripped);\n} catch (e) {\n  return [];\n}\nif (!Array.isArray(payload)) return [];\nreturn payload.map(item => ({ json: { ...item, opportunity_slug: slug } }));"
      },
      "id": "parse-1",
      "name": "Parse Claude output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GREENFIELD_INGEST_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GREENFIELD_INGEST_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_type\": \"{{ $json.source_type }}\",\n  \"url\": \"{{ $json.url }}\",\n  \"title\": \"{{ $json.title }}\",\n  \"published_at\": \"{{ $json.published_at }}\",\n  \"snippet\": \"{{ $json.snippet ?? '' }}\",\n  \"opportunity_slug\": \"{{ $json.opportunity_slug }}\"\n}",
        "options": {
          "response": { "response": { "neverError": true, "responseFormat": "json" } }
        }
      },
      "id": "ingest-1",
      "name": "POST to ingest-signal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Monday 1pm UTC":         { "main": [[ { "node": "Fetch top opportunities","type": "main", "index": 0 } ]] },
    "Fetch top opportunities": { "main": [[ { "node": "Per opportunity",        "type": "main", "index": 0 } ]] },
    "Per opportunity":        { "main": [[ { "node": "Ask Claude for signals", "type": "main", "index": 0 } ]] },
    "Ask Claude for signals": { "main": [[ { "node": "Parse Claude output",    "type": "main", "index": 0 } ]] },
    "Parse Claude output":    { "main": [[ { "node": "POST to ingest-signal", "type": "main", "index": 0 } ]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["greenfield"]
}
