greenfield/n8n-workflows/06-weekly-claim-research.json
{
  "name": "Greenfield · Weekly research for active claims",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "weeks", "weeksInterval": 1, "triggerAtDay": [1], "triggerAtHour": 14 }
          ]
        }
      },
      "id": "schedule-1",
      "name": "Monday 2pm UTC",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/idea_claims",
        "options": {
          "queryParameters": {
            "parameters": [
              { "name": "select", "value": "id,opportunity_id,opportunities(slug,title,industry,niche,audience)" },
              { "name": "status", "value": "eq.active" }
            ]
          },
          "headers": {
            "parameters": [
              { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
              { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
            ]
          }
        }
      },
      "id": "fetch-claims",
      "name": "Fetch active claims",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "split-1",
      "name": "Per claim",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "const claim = $json;\nconst opp = claim.opportunities ?? {};\nreturn [{ json: { opportunity_slug: opp.slug, opportunity_id: claim.opportunity_id, claim_id: claim.id, title: opp.title, industry: opp.industry, niche: opp.niche, audience: opp.audience } }];"
      },
      "id": "shape-1",
      "name": "Shape claim",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key",         "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type",      "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 1500,\n  \"system\": \"You are the weekly research agent for Greenfield. For the given claimed opportunity, return a JSON array (3-5 items) of recent (last 14 days preferred, last 60 days max) credible source citations: {source_type, url, title, published_at (ISO), snippet}. source_type must be one of: techcrunch, reddit, x, hackernews, crunchbase, arxiv, github, blog, podcast, other. Snippet = factual context (e.g. engagement metrics, author, funding round size). NOT a quote of body content. Prefer signals that show DEMAND change (new entrants, funding, search interest, regulatory shifts) over generic explainers.\",\n  \"messages\": [\n    { \"role\": \"user\", \"content\": \"Find recent demand signals for: {{ $json.title }} (industry: {{ $json.industry }}, niche: {{ $json.niche }}, audience: {{ $json.audience }}).\\n\\nSlug: {{ $json.opportunity_slug }}\" }\n  ]\n}"
      },
      "id": "claude-1",
      "name": "Ask Claude for weekly signals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "jsCode": "const slug = $('Shape claim').first().json.opportunity_slug;\nlet payload;\ntry {\n  const text = $input.first().json.content?.[0]?.text ?? '';\n  const stripped = text.replace(/^```(?:json)?\\n?/, '').replace(/```$/, '').trim();\n  payload = JSON.parse(stripped);\n} catch (e) {\n  return [];\n}\nif (!Array.isArray(payload)) return [];\nreturn payload\n  .filter(s => s && s.url && s.title && s.published_at && s.source_type)\n  .map(item => ({ json: { ...item, opportunity_slug: slug } }));"
      },
      "id": "parse-1",
      "name": "Parse Claude output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GREENFIELD_INGEST_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GREENFIELD_INGEST_TOKEN }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_type\": \"{{ $json.source_type }}\",\n  \"url\": \"{{ $json.url }}\",\n  \"title\": \"{{ $json.title }}\",\n  \"published_at\": \"{{ $json.published_at }}\",\n  \"snippet\": \"{{ $json.snippet ?? '' }}\",\n  \"opportunity_slug\": \"{{ $json.opportunity_slug }}\",\n  \"metadata\": { \"source\": \"weekly-claim-research\" }\n}",
        "options": {
          "response": { "response": { "neverError": true, "responseFormat": "json" } }
        }
      },
      "id": "ingest-1",
      "name": "POST to ingest-signal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300]
    }
  ],
  "connections": {
    "Monday 2pm UTC":               { "main": [[ { "node": "Fetch active claims",         "type": "main", "index": 0 } ]] },
    "Fetch active claims":          { "main": [[ { "node": "Per claim",                   "type": "main", "index": 0 } ]] },
    "Per claim":                    { "main": [[ { "node": "Shape claim",                 "type": "main", "index": 0 } ]] },
    "Shape claim":                  { "main": [[ { "node": "Ask Claude for weekly signals","type": "main", "index": 0 } ]] },
    "Ask Claude for weekly signals":{ "main": [[ { "node": "Parse Claude output",         "type": "main", "index": 0 } ]] },
    "Parse Claude output":          { "main": [[ { "node": "POST to ingest-signal",       "type": "main", "index": 0 } ]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["greenfield"],
  "meta": {
    "templateNotes": "Runs every Monday at 2pm UTC, walks every active idea_claims row, and asks Claude for 3-5 fresh demand signals per claim. Each signal is POSTed to ingest-signal and surfaces on the opportunity's detail page within minutes."
  }
}
